.slider{
    width: 900px;
    margin: 50px auto;
}
.sliderContainer{
    text-align: center;
}

.images{
    width: 500px;
    height: 300px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.image{
    position: absolute;
    left: 600px;
}
.activeImage{
    display: inline-block;
    position: absolute;
    transition: 1s;
    left: 0;

}
.dots{
    text-align: center;
}

.dot{
    display: inline-block;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-color: #707098;
    border-radius: 50%; transition: 0.3s ease;
}

.dot:hover{
    opacity: 0.7;
}
.activeDot{
    background-color: rgba(37, 37, 197, 0.85);
}

.arrows{
    padding: 10px;
    text-align: center;
    font-size: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    transition: 0.6s ease;
}

.arrows:hover{
    color: #9496a8;
}

@keyframes slide {
    from{transform: skewX(20deg);}
    to{transform: skewX(-20deg);}
}